<p-toast></p-toast>

<div class="page ">
    <div class="flex-fill">
        <!-- HEADER -->
        <app-header></app-header>
        <!-- HEADER -->

        <!-- CONTENT -->
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Gestión de Bodegas</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2 col-lg-2">
                                        <label class="form-label">Sede<span
                                                class="form-required">*</span></label>
                                        <ng-select notFoundText="{{msg.lbl_info_sin_resultados}}"
                                            [(ngModel)]="sedeFiltro" [items]="listaSedes">
                                        </ng-select>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="form-label">Código<span
                                                    class="form-required">*</span></label>
                                            <input type="text" [(ngModel)]="bodega.codigo" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="form-label">Nombre<span
                                                    class="form-required">*</span></label>
                                            <input type="text" [(ngModel)]="bodega.nombre" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="form-label">Nombre 10<span
                                                    class="form-required">*</span></label>
                                            <input type="text" [(ngModel)]="bodega.nombre10" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="form-label">Encargado<span
                                                    class="form-required">*</span></label>
                                            <input type="text" [(ngModel)]="bodega.ownerName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="form-label">Estado<span class="form-required">*</span></label>
                                            <ng-select notFoundText="{{msg.lbl_info_sin_resultados}}"
                                                [(ngModel)]="bodega.estado" [items]="enumEstado">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="esNuevoBodega" class="row">
                                    <div class="form-group col-sm-12 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label">Bloques</label>
                                            <input type="text" (keydown)="util.soloNumeros($event)"
                                                [(ngModel)]="bloques"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label">Cuerpos</label>
                                            <input type="text" (keydown)="util.soloNumeros($event)"
                                                [(ngModel)]="cuerpos"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label">Estantes</label>
                                            <input type="text" (keydown)="util.soloNumeros($event)"
                                                [(ngModel)]="estantes"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label">Entrepaños</label>
                                            <input type="text" (keydown)="util.soloNumeros($event)"
                                                [(ngModel)]="entrepanos"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <div class="d-flex">
                                    <a class="btn btn-link" routerLink="/q-bodega">Atrás</a>
                                    <button *ngIf="esNuevoBodega" (click)="crearBodega()" type="submit"
                                        class="btn btn-primary ml-auto">Crear</button>
                                    <button *ngIf="!esNuevoBodega" (click)="modificarBodega()" type="submit"
                                        class="btn btn-primary ml-auto">Modificar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTENT -->
    </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>
<!-- FOOTER -->
