.text-center {
    text-align: center;
}

.sinResultados {
    font-size: 18px;
    color: #7c7c7c;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background: #00bcd40f;
}

.p-toast .p-toast-message .p-toast-icon-close {
    width: 2.5rem !important;
}

.p-toast {
    width: calc(100% - 40px) !important;
}

.table > tbody > tr:hover {
    background: whitesmoke;
    cursor: pointer;
    font-weight: bold;
}

.ng-select .ng-select-container .ng-value-container {
    padding: 0 !important;
}

.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
    display: none;
}

.ng-select .ng-select-container {
    min-height: 37px !important;
}
