<p-toast></p-toast>

<div class="page ">
    <div class="flex-fill">
        <!-- HEADER -->
        <app-header></app-header>
        <!-- HEADER -->

        <!-- CONTENT -->
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{msg.lbl_traslado_unidad_documental}}</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm-12 col-lg-4">
                                        <label class="form-label">Cliente<span class="form-required">*</span></label>
                                        <ng-select notFoundText="{{msg.lbl_info_sin_resultados}}"
                                            [(ngModel)]="clienteSelect" [items]="listaClientes" bindLabel="nombre"
                                            (change)="consultarCajasPorSociedad()">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm-6 col-lg-4">
                                        <label
                                            class="form-label">{{msg.lbl_traslado_unidad_documental_caja_origen}}<span
                                                class="form-required">*</span></label>
                                        <ng-select notFoundText="{{msg.lbl_info_sin_resultados}}"
                                            [(ngModel)]="caja1Select" [items]="listaCajas" bindLabel="codigoAlterno"
                                            (change)="limpiarUnidadDocumental()">
                                        </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 col-lg-4">
                                        <label
                                            class="form-label">{{msg.lbl_traslado_unidad_documental_caja_destino}}<span
                                                class="form-required">*</span></label>
                                        <ng-select notFoundText="{{msg.lbl_info_sin_resultados}}"
                                            [(ngModel)]="caja2Select" [items]="listaCajas" bindLabel="codigoAlterno"
                                            (change)="limpiarUnidadDocumental()">
                                        </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 col-lg-4 text-center">
                                        <button type="submit" (click)="consultarUnidadDocumentalMasivo()"
                                            class="btn btn-primary ml-auto">{{msg.lbl_btn_consultar}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div *ngIf="responseUnidadDocumentalMasivo !=null ">
                                    <p-pickList id="AsoUniDocu"
                                        [source]="responseUnidadDocumentalMasivo.lstUnidadDocumentalCajaUno"
                                        [target]="responseUnidadDocumentalMasivo.lstUnidadDocumentalCajaDos"
                                        sourceHeader="{{caja1Select.codigoAlterno}}"
                                        targetHeader="{{caja2Select.codigoAlterno}}" [dragdrop]="true"
                                        [responsive]="true" [sourceStyle]="{'height':'30rem'}"
                                        [targetStyle]="{'height':'30rem'}" filterBy="codigo"
                                        sourceFilterPlaceholder="{{msg.lbl_rol_perfil_busqueda}}"
                                        targetFilterPlaceholder="{{msg.lbl_rol_perfil_busqueda}}">
                                        <ng-template let-UniDocu pTemplate="item">
                                            <div class="product-item">
                                                <div class="image-container">
                                                    <img src="assets/images/folder.png"
                                                        style="display:inline-block;margin:2px 0 2px 2px" width="48">
                                                </div>
                                                <div class="product-list-detail" style="margin-left: 2rem;">
                                                    <h5 class="p-mb-2">{{UniDocu.codigo}}</h5>
                                                    <i class="pi pi-tag product-category-icon"></i>
                                                    <span class="product-category">{{UniDocu.nombre}}</span>
                                                </div>

                                            </div>
                                        </ng-template>
                                    </p-pickList>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-sm-12 col-lg-12 text-center">
                                            <button style="margin-top: 10px;" type="submit"
                                                (click)="cambiarUnidadDocumentalMasivo()"
                                                class="btn btn-primary ml-auto">{{msg.lbl_btn_guardar}}</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer text-right">
                                    <div class="d-flex">
                                        <a class="btn btn-link" routerLink="/home">Home</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTENT -->
        </div>
    </div>

    <!-- FOOTER -->
    <app-footer></app-footer>
    <!-- FOOTER -->